	* {
		margin: 0;
		padding: 0;
		list-style: none;
		text-decoration: none;
	}
	
	.fl {
		float: left;
	}
	
	.fr {
		float: right;
	}
	
	.tophead {
		background: linear-gradient(to right bottom, #5686ee, #8c57f5);
		height: 14.1rem;
	}
	
	.banner {
		width: 18rem;
		margin: 0 auto;
		color: #FFFFFF;
	}
	
	.head {
		display: flex;
		padding-top: 0.7rem;
	}
	
	.head .submit {
		background: url(../img/serch.png) no-repeat;
		position: absolute;
		width: 1.6rem;
		top: 1.2rem;
		border: 0;
		outline: none;
		background-size: 0.633rem 0.75rem;
	}
	
	.head .person {
		width: 1.8rem;
		height: 1.66rem;
	}
	
	form {
		background: #acacf7;
		border-radius: 5px;
		padding: 0 1.33rem;
		margin-left: 1rem;
		width: 14.5rem;
	}
	
	.head input {
		border: 0;
		background: transparent;
		color: #FFFFFF;
		font-size: 0.639rem;
		height: 1.31rem;
		outline: none;
		padding-left: 1.15rem;
		padding-top: 0.1rem;
		width: 7.08rem;
	}
	
	.bottom {
		margin-top: 1.55rem;
	}
	
	.left p {
		font-size: 0.40rem;
	}
	
	.left p:nth-child(2) {
		margin-top: 0.5rem;
	}
	
	.left .yun {
		width: 1.98rem;
		height: 1.46rem;
	}
	
	.left .ren {
		width: 1.4rem;
		height: 1.3rem;
	}
	
	.boder {
		border: 1px solid #acacf7;
		border: 0.03rem solid #acacf7;
		border-radius: 50%;
		text-align: center;
		width: 7.9rem;
		height: 7.9rem;
		margin-left: 2.1rem;
		position: relative;
		overflow: hidden;
	}
	
	.left {
		width: 2.6rem;
	}
	
	.wi {
		width: 3.5rem;
	}
	
	.boder img {
		width: 7.6rem;
		height: 4.46rem;
	}
	
	.boder p:nth-child(1) {
		font-size: 0.79rem;
		margin-top: 1.2rem;
	}
	
	.boder img {
		position: absolute;
		left: 0.15rem;
		top: 3.24rem;
	}
	
	.boder p:nth-child(2) {
		font-size: 1.8rem;
		margin-top: 0.5rem;
	}
	
	.boder .bo {
		margin: 0 auto;
		text-align: center;
		width: 3.6rem;
		height: 1.1rem;
		border: 0.01rem solid#FFFFFF;
		border-radius: 5px;
		font-size: 0.68rem;
		margin-top: 0.4rem;
	}
	
	.container {
		width: 18rem;
		margin: 0 auto;
		color: #919191;
		margin-top: 0.8rem;
		text-align: center;
		height: 3.95rem;
	}
	
	.kebiao img {
		width: 2.9rem;
		height: 2.71rem;
	}
	
	.kebiao p {
		font-size: 0.75rem;
	}
	
	.po {
		position: relative;
	}
	
	.txt {
		position: absolute;
		width: 0.91rem;
		height: 0.91rem;
		background: #e53f04;
		border-radius: 50%;
		color: #FFFFFF;
		top: -0.5rem;
		right: -0.2rem;
		text-align: center;
	}
	
	.kebiao {
		margin-left: 1.95rem;
	}
	
	.ml {
		margin-left: 0;
	}
	
	.txt p {
		font-size: 0.82rem;
	}
	
	.bod {
		border-top: 0.33rem solid #f4f4f4;
		margin-top: 0.33rem;
	}
	
	.mw {
		height: 1.41rem;
	}
	
	.my p:nth-child(1) {
		font-size: 0.75rem;
		color: #000;
	}
	
	.my a {
		font-size: 0.5rem;
		color: #919191;
	}
	
	.my a span img {
		margin-left: 0.2rem;
		width: 0.61rem;
		height: 0.41rem;
	}
	
	.bod1 {
		border-top: 0.12rem solid #f4f4f4;
	}
	
	.mw1 {
		height: 1.8rem;
	}
	
	.text {
		width: 5.5rem;
	}
	
	.text p {
		font-size: 0.75rem;
	}
	
	.img1 img {
		width: 1.43rem;
		height: 1.43rem;
		margin-top: 0.2rem;
	}
	
	.img2,
	.img4,
	.img6 {
		margin-right: 0.2rem;
	}
	
	.img2 img {
		width: 1.56rem;
		height: 1.63rem;
		margin-top: 0.2rem;
	}
	
	.img3 img {
		width: 1.96rem;
		height: 1.35rem;
		margin-top: 0.2rem;
	}
	
	.img4 img {
		width: 1.31rem;
		height: 1.33rem;
		margin-top: 0.2rem;
	}
	
	.bod2 {
		margin-top: 1rem;
	}
	
	.mg {
		margin-top: 1rem;
	}
	
	.le {
		text-align: left;
	}
	
	.img5 img {
		width: 1.08rem;
		height: 1.45rem;
		margin-top: 0.2rem;
	}
	
	.img6 img {
		width: 1.31rem;
		height: 1.55rem;
		margin-top: 0.2rem;
	}
	
	.img7 img {
		width: 1.41rem;
		height: 1.03rem;
		margin-top: 0.2rem;
	}
	
	.img8 img {
		width: 1.53rem;
		height: 1.26rem;
		margin-top: 0.2rem;
	}
	
	.mw2 {
		height: 0.81rem;
	}
	
	.container1 {
		width: 18rem;
		margin: 0 auto;
		color: #919191;
		margin-top: 0.5rem;
	}
	
	.container2 {
		width: 18rem;
		margin: 0 auto;
		color: #5e5e5e;
		margin-top: 0.5rem;
		height: 4.08rem;
		display: flex;
	}
	
	.container1 a {
		font-size: 0.52rem;
		color: #5e5e5e;
	}
	
	.container1 span {
		margin-left: 0.91rem;
	}
	
	.bod3 {
		margin-top: 0.5rem;
	}
	
	.pic img {
		width: 2.38rem;
		height: 2.38rem;
	}
	
	.right {
		font-size: 0.529rem;
		margin-left: 1.7rem;
	}
	
	.lunwen p:nth-child(2) {
		margin-top: 0.5rem;
	}
	
	.shu p {
		color: #919191;
		margin-top: 1.23rem;
		margin-left: 1rem;
	}
	
	.de p {
		margin-left: 0.16rem;
	}
	
	.container1 a {
		width: 17rem;
		/*	height: 0.75rem;*/
	}
	
	@media only screen and (max-width: 320px) {
		.right {
			width: 14rem;
		}
		.container2 {
			width: 18rem;
		}
		.shu p {
			margin-left: 0.8rem;
		}
	}